<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friendlist</title>
</head>
<body>
  {{ friendModel | json }}
  <form #myForm="ngForm" name="myForm" novalidate (ngSubmit)="myFunc()">
    <input #fName="ngModel" pattern="[A-Za-z]+" [class.invalid]="fName.invalid && fName.touched" [(ngModel)]="friendModel.fName" type="text" name="fName" placeholder="Full name" required/>
    <input #lName="ngModel" pattern="[A-Za-z]+" [class.invalid]="lName.invalid && lName.touched" [(ngModel)]="friendModel.lName" type="text" name="lName" placeholder="Last name" required/>
    <input #email="ngModel" [class.invalid]="email.invalid && email.touched" [(ngModel)]="friendModel.email" type="email" name="email" placeholder="email" required/>
    <input #phoneNumber="ngModel" pattern="^[0-9]*$" [class.invalid]="phoneNumber.invalid && phoneNumber.touched" [(ngModel)]="friendModel.phoneNumber" type="text" name="phoneNumber" placeholder="phoneNumber" required/>
    <select #language="ngModel" [class.invalid]="language.invalid && language.touched" [(ngModel)]="friendModel.language" name="language" id="options" required>
      <option *ngFor='let opt of options;' [value]='opt'>{{opt}}</option>
    </select>
    <button [disabled]="myForm.form.invalid">Submit</button>
  </form>
  <li class="friendList" *ngFor='let friend of friendList'>
    {{friend.fName}}
  </li>
</body>
</html>